@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --secondary: #8fd9fd;
    --sec-hover: #4fc4ff;
    --primary: #fa528f;
    --pri-hover: #f02c74;
}

.body, .html {
    overflow: auto;
    font-family: "Ubuntu";
    background-color: #ececec;
    margin: 0px;
    box-sizing: border-box;
}

.h1 {
color: #333;
text-align: center;
text-shadow: 1px 1px 2px #000;
}

.p{
 color: #333;
 text-align: center;
}

.div {
    border: #3b3b3b;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.about-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    flex-direction: row;
    margin-bottom: 150px;
    box-shadow: 28px 28px 50px #0d275016, -23px -23px 50px #0d275016;
    border-radius: 12px;
    padding: 20px;
}

.pfp {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.text-links {
    display: block;
    margin-left: 50px;
}

.link {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border: #2a1f2d;
    background-color: var(--primary);
    border-radius: 4px;
    padding: 9px 25px;
    cursor: pointer;
    width: 45px;
    height: 25px;
    font-size: 19px;
    margin-bottom: 18px;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: var(--pri-hover);
}

.contact {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: 25px;
    border: #2a1f2d;
    background-color: var(--primary);
    border-radius: 4px;
    padding: 9px 25px;
    cursor: pointer;
    width: 86px;
    height: 20px;
    font-size: 20px;
    margin-bottom: 18px;
    margin-top: 70px;
}

.img {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    height: 50%;
    max-width: 600px;
}

.raidlucky {
    width: 180px;
    height: 180px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: inline-block;
}

.top-p {
    color: #333;
    text-align: left;
    max-width: 380px; 
    margin-top: 30px;
    margin-left: 25px;
}


.div-top {
    border: #3b3b3b;
    border-radius: 12px;
    padding: 10px;
    padding-bottom: 35px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: block;
    box-shadow: 28px 28px 50px #0d275016, -23px -23px 50px #0d275016;
}

.div-description {
    display: inline-block;
    margin-right: auto;
}

.div-first {
display:block;
margin-left: auto;
margin-right: 40px;
}

.div-btn {
display: flex;
margin-right: auto;
margin-left: auto;
max-width: 600px;

}

.btn {
padding: 5px;
max-width: 120px;
display: inline-block;
background-color: var(--primary);
margin-top: 35px;
margin-bottom: 15px;
margin-right: 5px;
margin-left: 5px;
border-radius: 4px;
font-size: 18px;
text-decoration: none;
color: white;
text-align: center;
transition: all 0.3s ease;
border: none;
cursor: pointer;
}

.btn:hover {
    background-color: var(--pri-hover);
}

.contact-alert {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(3px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-contact {
    background-color: white;
    max-width: 600px;
    border-radius: 8px;
    color: #313131;
    padding: 20px;
    right: 200px;
    position: relative;
    opacity: 0;
    text-decoration: none;
}

.inner-contact > a {
    color: #313131;
    text-decoration: none;
    cursor: pointer;
}

.exit {
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0;
    background-color: #fff0;
    border: none;
    color: #e74545;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 667px) {
    .div-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .text-links {
        margin-right: auto;
        margin-left: auto;
    }
    .about-flex {
        flex-direction: column;
        width: 320px
    }
    .div {
        display: block;
    }
    .div-first {
        margin-right: auto;
    }
    .top-p {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .contact {
        margin-right: auto;
        margin-left: auto;
    }
    .raidlucky {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .div-description {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .btn {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 15px;
        padding: 3px;
    }
  }