@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.body {
    font-family: "Ubuntu";
    color: #333;
}

.h1 {
text-align: center;
text-shadow: 1x 2px black;
}

.p{
 color: #333;
 text-align: center;
}

.div {
    border: grey;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: purple;
    margin-left: auto;
    margin-right: auto;
}

.img {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}