@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.body {
    font-family: "Ubuntu";
    background-color: #ececec;
}

.h1 {
color: #333;
text-align: center;
text-shadow: 1px 1px 2px #000;
}

.p{
 color: #333;
 text-align: center;
}

.div {
    border: #3b3b3b;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.link {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border: #2a1f2d;
    background-color: #fa528f;
    border-radius: 4px;
    padding: 9px 25px;
    cursor: pointer;
    width: 86px;
    height: 20px;
    font-size: 17px;
    margin-bottom: 18px;
}

.contact {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: 25px;
    border: #2a1f2d;
    background-color: #fa528f;
    border-radius: 4px;
    padding: 9px 25px;
    cursor: pointer;
    width: 86px;
    height: 20px;
    font-size: 20px;
    margin-bottom: 18px;
    margin-top: 70px;
}

.img {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    height: 50%;
    max-width: 600px;
}

.raidlucky {
    width: 180px;
    height: 180px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: inline-block;
}

.top-p {
    color: #333;
    text-align: left;
    width: 400px; 
    margin-top: 30px;
    margin-left: 25px;
}


.div-top {
    border: #3b3b3b;
    border-radius: 4px;
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    box-shadow: 28px 28px 50px #0d275016, -23px -23px 50px #0d275016;
}

.div-description {
    display: inline-block;
    margin-right: auto;
}

.div-first {
display:block;
margin-left: auto;
margin-right: 40px;
}

@media screen and (max-width: 667px) {
    .div {
        display: block;
    }
    .div-first {
        margin-right: auto;
    }
    .top-p {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .contact {
        margin-right: auto;
        margin-left: auto;
    }
    .raidlucky {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .div-description {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
  }