@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.body {
    font-family: "Ubuntu";
    background-color: black;
}

.h1 {
text-align: center;
text-shadow: 1x 2px black;
}

.p{
 color: #333;
 text-align: center;
}

.div {
    border: grey;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: grey;
    background-color: #333;
    border-radius: 4px;
    cursor: pointer;
}

.img {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    height: 50%;
}