@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.body {
    font-family: "Ubuntu";
    background-color: #ececec;
}

.h1 {
color: #333;
text-align: center;
text-shadow: 1px 1px 2px #000;
}

.p{
 color: #333;
 text-align: center;
}

.div {
    border: #3b3b3b;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: #2a1f2d;
    background-color: #fa528f;
    border-radius: 4px;
    cursor: pointer;
    width: 86px;
    height: 20px;
}

.img {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    height: 50%;
}

.raidlucky {
    width: 180px;
    height: 180px;
    margin-top: auto;
    margin-left: 400px;
    margin-bottom: auto;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 992px) {
    .raidlucky {
        width: 180px;
        height: 180px;
        margin-top: auto;
        margin-left: 100px;
        margin-bottom: auto;
        margin-right: -52px;
    }
}

.top-p {
    color: #333;
    text-align: left;
    width: 400px; 
    margin-top: 30px;
    margin-left: 25px;
}

@media screen and (max-width: 992px) {
    .top-p {
      margin-left: 100px;
      color: #333;
    text-align: left;
    width: 400px; 
    margin-top: 30px;
    margin-left: 100px;
    }
  }

.div-top {
    border: #3b3b3b;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
}