@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Imported Roboto, Kanit, and Montserrat */
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0px;
    background-color: #1a1a1a;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 790px;
}

.main-content > div > img {
    width: 100%;
    z-index: -1;
    filter: blur(5px) brightness(0.2);
}

.slide {
    position: absolute;
    z-index: -1;
}

.main-contentText {
    color: #fff;
    margin-left: 40px;
}

.main-contentText > h1 {
    font-size: 60px;
}

.btnLink {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
    margin-block: 15px;
    font-size: 13.5px;
}

.btnLink:hover {
    transition: ease all 0.3s;
    background-color: #d1d1d1;
}

.Section {
    height: 700px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: left;
}

.btn {
    margin-inline: 10px;
    background-color: #fff;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    border-radius: 5px;
    color: #1a1a1a;
    font-size: 13px;
    text-decoration: none;
    transition: ease all 0.3s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #d1d1d1;
}

.mainTitle {
    color: #fff;
    text-align: center;
    font-size: 90px;
    top: 0;
    position: absolute;
    margin: 0px;
    width: 100%;
}

.pop {
    display: none;
    /*filter: blur(3px);*/
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px) brightness(0.5);
    background-color: #ffffff00;
    border: none;
}

.pop > div {
    font-family: 'Montserrat';
    color: #333;
    background-color: #fff;
    width: 400px;
    height: 300px;
    z-index: 2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}