@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Imported Roboto, Kanit, and Montserrat */
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0px;
    background-color: #1a1a1a;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 790px;
}

.main-content > div > img {
    width: 100%;
    z-index: -1;
    filter: blur(2px) brightness(0.7);
}

.slide {
    position: absolute;
    z-index: -1;
}

.main-contentText {
    color: #fff;
    margin-left: 40px;
}

.main-contentText > h1 {
    font-size: 60px;
}

.btnLink {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
}

.btnLink:hover {
    transition: ease all 0.3s;
    background-color: #d1d1d1;
}