@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Imported Roboto, Kanit, and Montserrat */

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0px;
    background-color: #1a1a1a;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 95vh;
}

.main-content > div > img {
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(5px) brightness(0.3);
    object-fit: cover;
    object-position: center;
}

.slide {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.main-contentText {
    color: #fff;
    margin-left: 40px;
}

.main-contentText > h1 {
    font-size: 60px;
}

.btnLink {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-block: 15px;
    font-size: 18px;
    margin-inline: 5px;
    border: solid 1px #fff0;
}

.btnLink:hover {
    transition: ease all 0.3s;
    background-color: #03a7c8;
    color: #fff;
}

#desc {
    font-size: 20px;
}

.Section {
    padding-inline: 50px;
    color: #fff;
    text-align: center;
    background-color: #1a1a1a;
}

.about, .work {
    background-color: #fcfcfc;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    text-align: left;
}

.workSep {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-inline: auto;
    justify-content: center;
}

.workDirect {
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin-left: 5%;
}

.workDirect > h1 {
    margin-bottom: 5px;
}

.workDirect > p {
    margin-top: 5px;
    margin-bottom: 60px;
}

.workDirect > a {
    color: #333;
    text-decoration: none;
    margin-block: 10px;
    font-size: 20px;
}

.workDirect > a:hover {
    color: #484848;
}

.aboutText {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #333;
}

.aboutText > h3 {
    font-weight: 400;
}

.btn {
    margin-inline: 10px;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    border-radius: 5px;
    color: #1a1a1a;
    text-decoration: none;
    transition: ease all 0.3s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.seperator {
    background-color: #333;
    width: 90%;
    height: 2px;
    display: block;
    margin-inline: auto;
}

.mainTitle {
    color: #fff;
    text-align: center;
    font-size: 90px;
    top: 0;
    position: absolute;
    margin: 0px;
    width: 100%;
}

.pop {
    display: none;
    /*filter: blur(3px);*/
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px) brightness(0.5);
    background-color: #ffffff00;
    border: none;
}

.pop > div {
    font-family: 'Montserrat';
    color: #333;
    background-color: #fff;
    width: 400px;
    height: 300px;
    z-index: 2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pop > div > a {
    font-size: 20px !important;
}

nav {
    background-color: #15151570;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: row;
    color: #fff;
    height: 80px;
    position: fixed;
    width: 100%;
    padding-inline: 10px;
    z-index: 2;
}

.nav-links {
    margin: 0px 15px 0px auto;
}

.nav-link {
    color: #fff;
    background-color: #fff0;
    border: none;
    font-family: 'Montserrat';
    display: inline-block;
    height: 100%;
    text-decoration: none;
    line-height: 80px;
    margin-inline: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: ease all 0.3s;
}

.nav-link:hover {
    color: #c4c4c4;
}

.workcard {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    background-color: #fff0;
    border-radius: 4px;
}

.workDesc {
    width: 550px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.workTitle {
    color: #007c95;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.workTitle:hover {
    text-decoration: underline;
}

.workTitle > i {
    font-size: .9rem;
}

.workPos {
    margin-top: 0px;
    color: #333;
}

.workTime {
    width: 200px;
    font-size: 16px;
}

.warning {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: #ffc300;
    z-index: 2;
    text-align: center;
}

.contactPop {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600 !important;
    font-size: 20px !important;
}

.contactLinks {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
}

.contactLinks > a {
    margin-block: 10px;
}

.contactLinks > a:hover {
    color: #03a7c8 !important;
}

.contactLinks > p {
    margin-block: 10px;
}

.contactPop > h2 {
    margin-block: 10px;
    text-align: center;
    width: 80%;
    margin-inline: auto;
    border-bottom: solid 1px #333;
}

.progress {
    display: block;
    background-color: #33333396;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}

.progressIn {
    display: block;
    background-color: #6c6c6c;
    width: 0%;
    height: 20px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 5px 15px;
    border-radius: 5px;
}

.workExperience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.directLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.directLine {
    display: inline-block;
    height: 1px;
    width: 15px;
    background-color: #333;
    margin-right: 5px;
    transition: ease all 0.3s;
}

.directLink:hover > .directLine {
    width: 45px;
    background-color: #484848;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.project {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-inline: auto;
    margin-top: 100px;
}

.projImg {
    height: 80px;
    border-radius: 3px;
    border: solid 2px #333;
}

.projDesc {
    margin-left: 10px;
}

.projDesc > h2 {
    margin-top: 0px;
    font-size: 20px;
}

.tag {
    font-size: 14px;
    background-color: #b36e0086;
    color: #fff3e1;
    border-radius: 9999px;
    padding-inline: 10px;
    padding-block: 5px;
    margin-inline: 5px;
}

@media only screen and (max-width: 1016px) {

    .workTitle {
        font-size: 1rem;
    }

    .workPos {
        font-size: .9rem;
    }

    .workcard {
        background-color: #fff0;
    }

    .workDesc > p {
        font-size: .875rem;
    }

    .workDirect > h1 {
        font-size: 2.9vw;
    }

    .workDirect > p {
        font-size: 1.9vw;
    }

    .workDirect > a {
        font-size: 2.5vw;
    }

    .about > div {
        flex-direction: column !important;
    }

    .aboutText {
        margin-left: 0px;
    }

    .aboutText > h3 {
        width: 90% !important;
        padding-inline: 10px !important;
    }

    .btns {
        justify-content: center;
    }

    .btn {
        font-size: 16px;
    }
  }

  @media only screen and (max-width: 666px) {

    .works {
        width: 100%;
    }

    .main-content {
        height: 85vh;
    }

    .workExperience {
        width: 100%;
    }

    nav {
        background-color: #1a1a1a !important;
    }

    nav > h1 {
        font-size: 19px;
    }

    .nav-link {
        font-size: 16px;
    }

    .workDirect {
        display: none;
    }

    .workcard {
        width: 90%;
    }

    .main-contentText {
        margin-inline: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-contentText > #title {
        font-size: 7.5vw;
    }

    .main-contentText > h3 {
        display: none;
    }

    .main-contentText > p {
        width: 95% !important;
        text-align: center;
        font-size: 4vw;
    }

    .btn {
        font-size: 12px;
        margin-inline: 3.5px;
    }

    .workTitle, .workTime {
        font-size: 1rem;
    }

    .workPos {
        font-size: .9rem;
    }

    .workcard {
        background-color: #fff0;
    }

    .workDesc > p {
        font-size: .875rem;
    }

    .warning {
        font-size: 14px;
        height: 55px;
    }

  }